@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div>
    <h1 class="hello">Приветствуем вас, дорогие друзья!</h1>
    <p class="hello1">Мы рады видеть новых клиентов и тех, кто лично успел попробовать нашу сладкую эксклюзивную продукцию!</p>
</div>
<div class="row">
    
    <div class="col-sm-9 centertext">
        
        <p class="sometext">
            ExclusiveCookies предлагает вашему вниманию богатый ассортимент вкуснейшего печенья! Кроме того, кондитерское изделие может быть изготовлено по индивидуальному дизайну.
        </p>
    </div>
      <div class="col-sm-3 forimages">
        <img id="myImgMainRight" src="~/Content/image/Печеньки с прослойкой.png" alt="Здесь должна быть картинка..."/>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 forimages">
        <img id="myImgMainLeft" src="~/Content/image/В форме сердца.png" alt="Здесь должна быть картинка..."/>
    </div>
    <div class="col-sm-9 centertext">

        <p class="sometext">
            Наши кондитеры пекут ароматные и вкусные сладости, которые не оставят равнодушным ни одного человека на Земле. Мы знаем секреты классических неповторимых рецептов, привносим свою изюминку, добавляем щепотку любви и получаем шедевры, попробовав которые даже самый избалованный клиент получает неописуемое наслаждение и восторг от сочетания неповторимых вкусов.
        </p>
    </div>
    
</div>
<div class="row">

    <div class="col-sm-9 centertext">

        <p class="sometext">
            Если у вас в ближайшее время намечается торжественное событие, не нужно долго искать кондитерскую и думать, что выбрать из сладостей. Звоните сразу нам – мы подберем наилучший вариант на любое торжество!
        </p>
    </div>
    <div class="col-sm-3 forimages">
        <img id="myImgMainRight" src="~/Content/image/Смайлики.png" alt="Здесь должна быть картинка..."/>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 forimages">
        <img id="myImgMainLeft" src="~/Content/image/В форме звезды.png" alt="Здесь должна быть картинка..."/>
    </div>
    <div class="col-sm-9 centertext">

        <p class="sometext">
        Что касается цен, то мы не пытаемся их удешевлять при помощи некачественных продуктов, вредных для здоровья ингредиентов. Вместе с тем мы часто дарим нашим клиентам приятные сюрпризы, специальные предложения и бесплатную доставку.
        </p>
    </div>

</div>
<div>
    <h2 class="hello">Наши преимущества:</h2>   
    <ul class="sometext">
        <li>
            более 10 630 довольных клиентов;
        </li>
        <li>
            мы уже изготовили более 231 000 сладостей;
        </li>
        <li>
            огромный выбор печенек;
        </li>
        <li>
            выполняем индивидуальные заказы. Вы можете заказать сладости с нужной вам тематикой, и мы воплотим её в жизнь;
        </li>
        <li>
            мы используем только качественные и натуральные продукты;
        </li>
        <li>
            большой выбор различных начинок;
        </li>
        <li>
            изготовим ваш заказ в короткие сроки;
        </li>
        <li>
            вся продукция сертифицирована;
        </li>
        <li>
            оперативная доставка по Хабаровску и области.
        </li>
    </ul>
</div>
